
#label {
    -fx-font-size: 16px;
    -fx-fill: whitesmoke;
}

#labelCold {
    -fx-font-size: 16px;
    -fx-fill: #5b89f5;
}

#labelWarm {
    -fx-font-size: 16px;
    -fx-fill: #f5a200;
}


#today {
    -fx-fill: #f5ad82;
    -fx-font-size: 16px;
}


#day {
    -fx-font-size: 24px;
    -fx-fill: azure;
}

#hbox {
    -fx-background-color: black ;
}


#Dag {
    -fx-fill: #c0f58b;
    -fx-font-size: 16px;
}

#Dag-events {
    -fx-fill: #c0f58b;
    -fx-font-size: 16px;
}

#Dag-today {
    -fx-fill: #cef513;
    -fx-font-size: 16px;
}
















#todssssssay {
    -fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-text-fill: #a84d4d;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}