
p, h3, h1, h2 {
  color: #ffffff;
}


.low {
  color: #b0b0b5;
}

.tempRange {
  font-size: 22px;
}

// Made with https://yoksel.github.io/url-encoder/

.aws-weather-base {
  height: 24px; 
  transform: scale(5.0, 5.0);
  width: 24px;
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 30px;
}


.aws-cloudy-base {
  @extend .aws-weather-base;
  margin-left: 43px;
}


.aws-thunder {
  @extend .aws-weather-base;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M6,12.5c0-2.158,1.528-3.962,3.557-4.397c0.415-0.852,1.049-1.574,1.82-2.112%0AC10.669,5.382,9.758,5,8.75,5C6.981,5,5.493,6.141,4.941,7.721C3.301,7.83,2,9.182,2,10.85C2,12.59,3.41,14,5.15,14h1.126%0AC6.108,13.529,6,13.029,6,12.5z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M23,12c0,1.602-0.948,2.973-2.308,3.612C20.413,15.237,19.979,15,19.5,15h-0.079l0.534-2.136%0Ac0.173-0.692-0.166-1.411-0.811-1.718c-0.647-0.307-1.417-0.116-1.845,0.455l-2.334,3.111c0.091-0.643-0.224-1.281-0.821-1.566%0Ac-0.646-0.307-1.417-0.116-1.845,0.455L10.5,16C8.567,16,7,14.433,7,12.5c0-1.854,1.445-3.355,3.268-3.477%0AC10.882,7.268,12.535,6,14.5,6c1.589,0,2.979,0.829,3.78,2.073C18.514,8.03,18.753,8,19,8C21.209,8,23,9.791,23,12z M19.947,16.276%0AC19.862,16.107,19.689,16,19.5,16h-1.359l0.845-3.379c0.058-0.231-0.056-0.47-0.271-0.573c-0.216-0.101-0.471-0.039-0.615,0.152%0Al-3,4c-0.113,0.151-0.132,0.354-0.047,0.523S15.311,17,15.5,17h1.359l-0.845,3.379c-0.058,0.23,0.056,0.471,0.271,0.572%0AC16.354,20.984,16.428,21,16.5,21c0.153,0,0.303-0.07,0.4-0.2l3-4C20.014,16.648,20.032,16.445,19.947,16.276z M14.5,18h-1.36%0Al0.845-3.379c0.058-0.23-0.056-0.471-0.271-0.572c-0.216-0.103-0.472-0.039-0.615,0.151l-3,4c-0.114,0.151-0.132,0.354-0.047,0.523%0AC10.138,18.893,10.311,19,10.5,19h1.36l-0.845,3.379c-0.058,0.23,0.055,0.471,0.27,0.572C11.354,22.984,11.427,23,11.5,23%0Ac0.153,0,0.303-0.07,0.4-0.2l3-4c0.113-0.151,0.132-0.354,0.047-0.523S14.689,18,14.5,18z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.aws-rainy-clouds {
  @extend .aws-cloudy-base;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M6,14.5c0-2.158,1.528-3.962,3.557-4.397c0.415-0.852,1.049-1.574,1.82-2.112%0AC10.669,7.382,9.758,7,8.75,7C6.981,7,5.493,8.141,4.941,9.721C3.301,9.83,2,11.182,2,12.85C2,14.59,3.41,16,5.15,16h1.126%0AC6.108,15.529,6,15.029,6,14.5z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M19,10c-0.247,0-0.486,0.03-0.72,0.073C17.479,8.829,16.089,8,14.5,8c-1.965,0-3.618,1.268-4.232,3.023%0AC8.445,11.145,7,12.646,7,14.5c0,1.933,1.567,3.5,3.5,3.5H19c2.209,0,4-1.791,4-4C23,11.791,21.209,10,19,10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.aws-cloudy {
  @extend .aws-cloudy-base;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M6,14.5c0-2.158,1.528-3.962,3.557-4.397c0.415-0.852,1.049-1.574,1.82-2.112%0AC10.669,7.382,9.758,7,8.75,7C6.981,7,5.493,8.141,4.941,9.721C3.301,9.83,2,11.182,2,12.85C2,14.59,3.41,16,5.15,16h1.126%0AC6.108,15.529,6,15.029,6,14.5z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M19,10c-0.247,0-0.486,0.03-0.72,0.073C17.479,8.829,16.089,8,14.5,8c-1.965,0-3.618,1.268-4.232,3.023%0AC8.445,11.145,7,12.646,7,14.5c0,1.933,1.567,3.5,3.5,3.5H19c2.209,0,4-1.791,4-4C23,11.791,21.209,10,19,10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.aws-sunny-cloudy {
  @extend .aws-weather-base;
  margin-left: 45px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(255, 247, 0, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M9.5,6C9.223,6,9,5.776,9,5.5v-2C9,3.224,9.223,3,9.5,3S10,3.224,10,3.5v2C10,5.776,9.776,6,9.5,6z M6.941,6.048l-1-1.735 C5.803,4.074,5.497,3.992,5.258,4.13C5.018,4.269,4.936,4.575,5.075,4.814l1,1.735c0.138,0.24,0.444,0.322,0.683,0.183 C6.998,6.594,7.08,6.288,6.941,6.048z M4.561,8.053L2.828,7.051C2.589,6.913,2.283,6.995,2.145,7.235 C2.007,7.474,2.089,7.78,2.328,7.919L4.061,8.92C4.3,9.058,4.606,8.976,4.744,8.737S4.801,8.191,4.561,8.053z M3.5,11h-2 C1.224,11,1,11.224,1,11.5C1,11.776,1.224,12,1.5,12h2C3.776,12,4,11.776,4,11.5C4,11.224,3.776,11,3.5,11z M4.045,14.046 l-1.733,1.001c-0.239,0.138-0.321,0.444-0.183,0.684c0.138,0.24,0.444,0.322,0.683,0.183l1.733-1.001 c0.239-0.138,0.321-0.444,0.183-0.684S4.285,13.907,4.045,14.046z M12.928,6.565l1-1.735c0.138-0.24,0.056-0.546-0.183-0.684 c-0.239-0.138-0.545-0.056-0.683,0.183l-1,1.735c-0.138,0.24-0.056,0.546,0.183,0.684C12.485,6.886,12.79,6.804,12.928,6.565z M1.5,8.5 M3.871,16.919 M9.557,10.103c0.5-1.027,1.315-1.865,2.312-2.414C11.179,7.259,10.372,7,9.5,7C7.015,7,5,9.015,5,11.5 c0,1.072,0.39,2.043,1.016,2.816C6.102,12.242,7.587,10.525,9.557,10.103z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M19,10c-0.247,0-0.486,0.03-0.72,0.073C17.479,8.829,16.089,8,14.5,8c-1.965,0-3.618,1.268-4.232,3.023 C8.445,11.145,7,12.646,7,14.5c0,1.933,1.567,3.5,3.5,3.5H19c2.209,0,4-1.791,4-4C23,11.791,21.209,10,19,10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M9.5,6C9.223,6,9,5.776,9,5.5v-2C9,3.224,9.223,3,9.5,3S10,3.224,10,3.5v2C10,5.776,9.776,6,9.5,6z M6.941,6.048l-1-1.735 C5.803,4.074,5.497,3.992,5.258,4.13C5.018,4.269,4.936,4.575,5.075,4.814l1,1.735c0.138,0.24,0.444,0.322,0.683,0.183 C6.998,6.594,7.08,6.288,6.941,6.048z M4.561,8.053L2.828,7.051C2.589,6.913,2.283,6.995,2.145,7.235 C2.007,7.474,2.089,7.78,2.328,7.919L4.061,8.92C4.3,9.058,4.606,8.976,4.744,8.737S4.801,8.191,4.561,8.053z M3.5,11h-2 C1.224,11,1,11.224,1,11.5C1,11.776,1.224,12,1.5,12h2C3.776,12,4,11.776,4,11.5C4,11.224,3.776,11,3.5,11z M4.045,14.046 l-1.733,1.001c-0.239,0.138-0.321,0.444-0.183,0.684c0.138,0.24,0.444,0.322,0.683,0.183l1.733-1.001 c0.239-0.138,0.321-0.444,0.183-0.684S4.285,13.907,4.045,14.046z M12.928,6.565l1-1.735c0.138-0.24,0.056-0.546-0.183-0.684 c-0.239-0.138-0.545-0.056-0.683,0.183l-1,1.735c-0.138,0.24-0.056,0.546,0.183,0.684C12.485,6.886,12.79,6.804,12.928,6.565z M1.5,8.5 M3.871,16.919 M9.557,10.103c0.5-1.027,1.315-1.865,2.312-2.414C11.179,7.259,10.372,7,9.5,7C7.015,7,5,9.015,5,11.5 c0,1.072,0.39,2.043,1.016,2.816C6.102,12.242,7.587,10.525,9.557,10.103z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M19,10c-0.247,0-0.486,0.03-0.72,0.073C17.479,8.829,16.089,8,14.5,8c-1.965,0-3.618,1.268-4.232,3.023 C8.445,11.145,7,12.646,7,14.5c0,1.933,1.567,3.5,3.5,3.5H19c2.209,0,4-1.791,4-4C23,11.791,21.209,10,19,10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.aws-rainy-sunshine {
  @extend .aws-weather-base;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M6.493,19.996c-0.128,0-0.256-0.049-0.354-0.147c-0.195-0.196-0.195-0.512,0-0.708l2.001-2.003 c0.195-0.196,0.512-0.196,0.707,0c0.195,0.196,0.195,0.512,0,0.708l-2.001,2.003C6.749,19.947,6.621,19.996,6.493,19.996z M7.847,22.853l5.002-5.007c0.195-0.196,0.195-0.512,0-0.708c-0.195-0.196-0.512-0.196-0.707,0L7.14,22.145 c-0.195,0.196-0.195,0.512,0,0.708C7.237,22.951,7.365,23,7.493,23C7.621,23,7.749,22.951,7.847,22.853z M12.849,21.852 l4.002-4.006c0.195-0.196,0.195-0.512,0-0.708c-0.195-0.196-0.512-0.196-0.707,0l-4.002,4.006c-0.195,0.196-0.195,0.512,0,0.708 c0.098,0.098,0.226,0.147,0.354,0.147S12.751,21.95,12.849,21.852z M17.851,20.85l3.001-3.004c0.195-0.196,0.195-0.512,0-0.708 c-0.195-0.196-0.512-0.196-0.707,0l-3.001,3.004c-0.195,0.196-0.195,0.512,0,0.708c0.098,0.098,0.226,0.147,0.354,0.147 C17.626,20.997,17.754,20.948,17.851,20.85z M10.004,3.504V1.501C10.004,1.224,9.78,1,9.504,1s-0.5,0.224-0.5,0.501v2.003 c0,0.277,0.224,0.501,0.5,0.501S10.004,3.78,10.004,3.504z M6.941,4.048l-1-1.735C5.803,2.074,5.497,1.992,5.258,2.13 C5.018,2.269,4.936,2.575,5.075,2.814l1,1.735c0.138,0.24,0.444,0.322,0.683,0.183C6.998,4.594,7.08,4.288,6.941,4.048z M4.561,6.053L2.828,5.051C2.589,4.913,2.283,4.995,2.145,5.235C2.007,5.474,2.089,5.78,2.328,5.919L4.061,6.92 C4.3,7.058,4.606,6.976,4.744,6.737C4.883,6.497,4.801,6.191,4.561,6.053z M3.501,8.98H1.5C1.224,8.98,1,9.204,1,9.481 c0,0.277,0.224,0.501,0.5,0.501h2.001c0.276,0,0.5-0.224,0.5-0.501C4.001,9.204,3.778,8.98,3.501,8.98z M4.045,12.046l-1.733,1.001 c-0.239,0.138-0.321,0.444-0.183,0.684c0.138,0.24,0.444,0.322,0.683,0.183l1.733-1.001c0.239-0.138,0.321-0.444,0.183-0.684 S4.285,11.907,4.045,12.046z M12.928,4.565l1-1.735c0.138-0.24,0.056-0.546-0.183-0.684s-0.545-0.056-0.683,0.183l-1,1.735 c-0.138,0.24-0.056,0.546,0.183,0.684C12.485,4.886,12.79,4.804,12.928,4.565z M9.557,8.103c0.498-1.022,1.308-1.858,2.298-2.407 c-0.689-0.431-1.496-0.69-2.367-0.69c-2.478,0-4.486,2.011-4.486,4.491c0,1.071,0.39,2.041,1.015,2.813 C6.105,10.238,7.589,8.525,9.557,8.103z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M19,8c-0.247,0-0.486,0.03-0.72,0.073C17.479,6.829,16.089,6,14.5,6c-1.965,0-3.618,1.268-4.232,3.023 C8.445,9.145,7,10.646,7,12.5c0,1.933,1.567,3.5,3.5,3.5H19c2.209,0,4-1.791,4-4C23,9.791,21.209,8,19,8z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.aws-rainy { 
  @extend .aws-weather-base;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg transform='scale(1, 1) rotate(0, 0, 0) translate(0, 0)' opacity='1'%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='0.5' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M3.5,18c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l2-2 c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707l-2,2C3.756,17.951,3.628,18,3.5,18z M4.854,20.854l5-5 c0.195-0.195,0.195-0.512,0-0.707s-0.512-0.195-0.707,0l-5,5c-0.195,0.195-0.195,0.512,0,0.707C4.244,20.951,4.372,21,4.5,21 S4.756,20.951,4.854,20.854z M9.854,19.854l4-4c0.195-0.195,0.195-0.512,0-0.707s-0.512-0.195-0.707,0l-4,4 c-0.195,0.195-0.195,0.512,0,0.707C9.244,19.951,9.372,20,9.5,20S9.756,19.951,9.854,19.854z M14.854,18.854l3-3 c0.195-0.195,0.195-0.512,0-0.707s-0.512-0.195-0.707,0l-3,3c-0.195,0.195-0.195,0.512,0,0.707C14.244,18.951,14.372,19,14.5,19 S14.756,18.951,14.854,18.854z'%3E%3C/path%3E%3Cpath fill='rgba(250, 250, 250, 1)' fill-opacity='1' stroke='rgba(0, 0, 0, 0)' stroke-width='1' stroke-opacity='1' d='M16,6c-0.247,0-0.486,0.03-0.72,0.073C14.479,4.829,13.089,4,11.5,4C9.535,4,7.882,5.268,7.268,7.023 C5.445,7.145,4,8.646,4,10.5C4,12.433,5.567,14,7.5,14H16c2.209,0,4-1.791,4-4C20,7.791,18.209,6,16,6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}



/*----------------
    Current Weather
-----------------*/
#current {
  padding: 10% 5% 20%;
  position: relative;
}
.location {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
.date {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
#current .weatherIcon {
  height: 100px;
  margin: 10% auto 7%;
  width: 100px;
}
.temp {
  font-size: 38px;
  line-height: 1.3;
}
.temp:after {
  content: '\00b0';
  margin-right: -0.3em;
}
#current .conditions {
  font-size: 1.2em;
  text-transform: uppercase;
}

/*----------------
    Future Forecast
-----------------*/
#future {
  margin-bottom: 10%;
  padding: 0 10%;
}
#future > .container {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  margin: 0;
  padding: 5% 10%;
  width: 100%;
}
#future > .container:first-child {
  border-top: 1px solid rgba(255,255,255,0.25);
}
#future .day {
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
#future .weatherIcon {
  float: right;
  font-size: 0.5em;
  height: 50px;
  margin-left: 10%;
  margin-top: -5%;
  width: 50px;
}
#future p { text-align: left; }
.high:after, .low:after {
  content: '\00b0';
  padding: 1px;
}

/*----------------
    Media Queries
-----------------*/
@media (min-width: 375px) {
nav {
  left: 5%;
  position: absolute;
  top: 10%;
}
#locateBtn, #unitBtn {
  display: block;
  margin-bottom: 10px;
}
#current {
  padding-bottom: 15%;
  padding-top: 15%;
}
}
@media (min-width: 550px) {
nav { top: 8%; }
/* Current Weather */
#current {
  font-size: 1.3rem;
  padding-bottom: 10%;
  padding-top: 10%;
}
.date, #current .conditions { font-size: 0.9em;}
#current .weatherIcon {
  font-size: 0.95em;
  height: 120px;
  margin: 7% auto 3%;
  width: 120px;
}
/* Future Forecast */
#future {
  font-size: 1.1rem;
  padding: 0;
  margin-bottom: 3%;
}
#future > .container {
  border-bottom: none;
  float: left;
  padding: 20px;
  width: 33.33%;
}
#future > .container:first-child { border-top: none; }
#future > .container:not(:last-child) { border-right: 1px solid rgba(255,255,255,0.25); }
#future .day, #future p { text-align: center; }
#future .weatherIcon {
  font-size: 0.56em;
  float: none;
  height: 60px;
  margin: 10% auto 5%;
  width: 60px;
}
footer { font-size: 0.9rem; }
}
@media (min-width: 880px) {
nav { top: 5%; }
#current {
  font-size: 1.5rem;
  padding-bottom: 7%;
  padding-top: 7%;
}
#current .weatherIcon {
  font-size: 0.82em;
  margin: 5% auto 2%;
}
#lastUpdated {
  padding: 3%;
}
}

/*---------------------------------------------
	PURE CSS WEATHER ICONS
	Class names match the icon values returned
	from the Wunderground API
----------------------------------------------*/
* { box-sizing: border-box; }
html { background: #86B9E0; }
h1.title {
  color: rgba(255,255,255,0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.container {
  margin: 12% auto;
  text-align: center;
  width: 80%;
}
.weatherIcon {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  /* Redefine this font size if resizing height & width */
  font-size: 1em;
  height: 100px;
  line-height: 1em;
  margin: 2%;
  position: relative;
  width: 100px;
}
.weatherIcon:before, .weatherIcon:after {
  content: "";
  height: inherit;
  left: 0;
  top: 0;
  width: inherit;
}
.weatherIcon > div:before, .weatherIcon > div:after,
.weatherIcon .inner:before, .weatherIcon .inner:after {
  content: "";
  letter-spacing: 0;
  position: absolute;
}
.clear, .sunny, .mostlysunny, .partlycloudy, .mostlycloudy, .partlysunny, .cloudy, .fog, .hazy, .chancerain, .rain, .chancetstorms, .tstorms, .chancesleet, .sleet, .chanceflurries, .flurries, .chancesnow, .snow, .inner {
  height: inherit;
  width: inherit;
}

/*** Clear/Sunny ***/
.clear, .sunny {
  margin-top: 48.5%;
}
.clear, .clear:before, .clear > .inner:before, .clear > .inner:after, .sunny, .sunny:before, .sunny > .inner:before, .sunny > .inner:after {
  background: #FFD632;
  left: 0;
  top: 48.5%;
  width: 100%;
  height: 0.2em;
}
.clear:before, .sunny:before {
  transform: rotate(45deg);
}
.clear > .inner:before, .sunny > .inner:before {
  transform: rotate(90deg);
}
.clear > .inner:after, .sunny > .inner:after {
  transform: rotate(135deg);
}
.clear:after, .sunny:after {
  background: #FFD632;
  border-radius: 50%;
  height: 60%;
  left: 20%;
  top: 20%;
  width: 60%;
}

/*** Partly Cloudy/Mostly Sunny ***/
.mostlysunny, .partlycloudy {
  background: #FFD632;
  height: 80%;
  margin-left: 48.5%;
  top: 0;
  width: 0.2em;
}
.mostlysunny:before, .partlycloudy:before {
  background: #FFD632;
  left: 0;
  top: 48.5%;
  width: 100%;
  height: 0.2em;
}
.mostlysunny > .inner:before, .partlycloudy > .inner:before {
  border-bottom: 0.2em solid #FFD632;
  border-left: 0.2em solid #FFD632;
  height: 80%;
  left: 8%;
  top: -48.5%;
  transform: rotate(-45deg);
  width: 80%;
}
.mostlysunny > .inner, .partlycloudy > .inner {
  background: #FFD632;
  border-radius: 50%;
  height: 60%;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 60%;
}
.mostlysunny > .inner:after, .partlycloudy > .inner:after {
  background: #fff;
  border-radius: 50%;
  bottom: -33%;
  height: 65%;
  right: -15%;
  width: 70%;
}
.mostlysunny:after, .partlycloudy:after {
  background: #fff;
  border-radius: 50%;
  bottom: 0;
  height: 50%;
  left: 10%;
  width: 55%;
}
/*** Mostly Cloudy/Partly Sunny ***/
.mostlycloudy,
.partlysunny {
  background: #FFD632;
  height: 80%;
  margin-left: 48.5%;
  top: 0;
  width: 0.2em;
}
.mostlycloudy:before, .partlysunny:before {
  background: #FFD632;
  left: 0;
  top: 48.5%;
  width: 100%;
  height: 0.2em;
}
.mostlycloudy > .inner:before, .partlysunny > .inner:before {
  border-bottom: 0.2em solid #FFD632;
  border-left: 0.2em solid #FFD632;
  height: 80%;
  left: 8%;
  top: -48.5%;
  transform: rotate(-45deg);
  width: 80%;
}
.mostlycloudy > .inner, .partlysunny > .inner {
  background: #FFD632;
  border-radius: 50%;
  height: 60%;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 60%;
}
.mostlycloudy > .inner:after, .partlysunny > .inner:after {
  background: #fff;
  border-radius: 50%;
  bottom: -33%;
  height: 82%;
  right: -34%;
  width: 90%;
}
.mostlycloudy:after, .partlysunny:after {
  background: #fff;
  border-radius: 50%;
  bottom: 0%;
  height: 63%;
  left: 0;
  width: 70%;
}
/*** Cloudy ***/
.cloudy:before, .cloudy > .inner:before, .cloudy > .inner:after, .cloudy:after {
  background: #fff;
  border-radius: 50%;
}
.cloudy:before {
  height: 35%;
  right: 0;
  top: 0;
  width: 38%;
}
.cloudy > .inner:before {
  height: 27%;
  left: 45%;
  top: 8%;
  width: 30%;
}
.cloudy > .inner:after {
  bottom: 0;
  height: 50%;
  right: 0;
  width: 55%;
}
.cloudy:after {
  bottom: 0;
  height: 63%;
  left: 0;
  width: 70%;
}
.rainyclouds {
  @extend .cloudy;
}
.rainyclouds:before, .rainyclouds > .inner:before, .rainyclouds > .inner:after, .rainyclouds:after {
  background: #356382;
  border-radius: 50%;
}

/*** Fog / Hazy ***/
.fog:before, .fog:after, .hazy:before, .hazy:after {
  background: #fff;
  border-radius: 50%;
}
.fog:before, .hazy:before {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.fog:after, .hazy:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}
.fog > .inner:before, .fog > .inner:after, .hazy > .inner:before, .hazy > .inner:after {
  color: #fff;
  content: "\2307";
  font-size: 5em;
  left: 7%;
  transform: rotate(90deg);
}
.fog > .inner:before, .hazy > .inner:before {
  bottom: 14%;
}
.fog > .inner:after, .hazy > .inner:after {
  bottom: 0;
}

/*** Chance Rain / Rain ***/
.chancerain:before, .chancerain > .inner:before, .rain:before, .rain > .inner:before {
  border-left: 0.2em dashed #fff;
  border-right: 0.2em dashed #fff;
  bottom: 0;
  height: 60%;
  transform: skew(-20deg);
  width: 13%;
}
.chancerain:before, .rain:before {
  left: 25%;
}
.chancerain > .inner:before, .rain > .inner:before {
  left: 57%;
}
.chancerain > .inner:after, .chancerain:after, .rain > .inner:after, .rain:after {
  background: #356382;
  border-radius: 50%;
}
.chancerain > .inner:after, .rain > .inner:after {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.chancerain:after, .rain:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}

/*** Chance T-Storms / T-Storms ***/
.chancetstorms:before, .tstorms:before {
  background: #FFD632;
  height: 30%;
  left: 43%;
  top: 50%;
  transform: skew(-20deg);
  width: 10%;
}
.chancetstorms > .inner:before, .tstorms > .inner:before {
  border-right: 0.7em solid transparent;
  border-top: 1.9em solid #FFD632;
  bottom: 0;
  left: 45%;
  transform: skew(-20deg);
}
.chancetstorms > .inner:after, .chancetstorms:after,
.tstorms > .inner:after, .tstorms:after {
  background: #356382;
  border-radius: 50%;
}
.chancetstorms > .inner:after, .tstorms > .inner:after {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.chancetstorms:after, .tstorms:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}
/*** Chance Sleet / Sleet ***/
.chancesleet:before, .sleet:before {
  border-left: 0.2em dashed #fff;
  border-right: 0.2em dashed #fff;
  bottom: 0;
  height: 60%;
  left: 30%;
  transform: skew(-20deg);
  width: 35%;
}
.chancesleet > .inner:before, .sleet > .inner:before {
  bottom: 12%;
  color: #fff;
  content: "\2733\ \ \2733";
  font-size: 1em;
  left: 27%;
  transform: rotate(-70deg);
  width: 40%;
}
.chancesleet > .inner:after, .chancesleet:after, .sleet > .inner:after, .sleet:after {
  background: #BACEDD;
  border-radius: 50%;
}
.chancesleet > .inner:after, .sleet > .inner:after {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.chancesleet:after, .sleet:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}
/*** Chance Flurries / Flurries ***/
.chanceflurries > .inner:before, .chanceflurries > .inner:after, .flurries > .inner:before, .flurries > .inner:after {
  color: #fff;
  content: "\25CF\ \25CF\ \25CF";
  font-size: 1.1em;
}
.chanceflurries > .inner:before, .flurries > .inner:before {
  bottom: 17%;
  right: 25%;
}
.chanceflurries > .inner:after, .flurries > .inner:after {
  bottom: 0;
  left: 25%;
}
.chanceflurries:before, .chanceflurries:after,
.flurries:before, .flurries:after {
  background: #BACEDD;
  border-radius: 50%;
}
.chanceflurries:before, .flurries:before {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.chanceflurries:after, .flurries:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}
/*** Chance Snow / Snow ***/
.chancesnow > .inner:before, .chancesnow > .inner:after, .snow > .inner:before, .snow > .inner:after {
  color: #fff;
  content: "\2733\ \2733\ \2733";
  font-size: 1em;
}
.chancesnow > .inner:before, .snow > .inner:before {
  bottom: 17%;
  right: 21%;
}
.chancesnow > .inner:after, .snow > .inner:after {
  bottom: 0;
  left: 21%;
}
.chancesnow:before, .chancesnow:after,
.snow:before, .snow:after {
  background: #BACEDD;
  border-radius: 50%;
}
.chancesnow:before, .snow:before {
  height: 63%;
  left: 0;
  top: 0;
  width: 70%;
}
.chancesnow:after, .snow:after {
  height: 50%;
  right: 0;
  top: 13%;
  width: 55%;
}
